/* Color Pallete */
:root {
  --lightbase: #606C38;
  --darkbase: #283618;
  --lightneutral: #FEFAE0;
  --neutral: #DDA15E;
  --darkneutral: #BC6C25;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  background-color: var(--darkbase);
  color: var(--lightneutral);
  height: 10vh;
}

.ChallengeSelector {
  color: white;
  font-weight: bold;
}

.Selector-Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Challenges-Container, .Mountain-Container {
  background-color: var(--lightneutral);
  color: black;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select {
  width: 50%;
  align-self: center;
  margin: 3px;
  border-radius: 10px;
}

.bootOption {
  justify-content: center;
  text-align: center;
}

.hikeDetails p {
  color: white;
  font-size: 1em;
  margin: 2px;
}

.UserInputForm {
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.UserInputDropDowns-Container {
  display: flex;
  flex-direction: column;
}

.Date-Container, .Buddies-Container, .Notes-Container, .Pics-Container {
  background-color: var(--lightneutral);
  color: black;
  margin: 10px;
  border-radius: 10px;
}

.Data-Container {
  display: flex;
  justify-content: space-evenly;
}

input.date, input.buddies {
  width: 90%;
  align-self: center;
  margin: 3px;
  border-radius: 10px;
}

button {
  background-color: pink;
  border-radius: 10px;
  font-weight: bold;
  border-color: white;
  height: 3vh;
}

textarea {
  width: 90%;
  align-self: center;
  margin: 3px;
  border-radius: 10px;
}

.Pics-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Pics-Container label, input {
  margin: 5px;
}

.GraphicalRepresentation {
  background-color: var(--lightneutral);
  color: white;
  display: flex;
  flex-direction: column;
  width: 70vw;
  justify-content: space-evenly;
  height: 90vh;
}

.PieChartCollection {
  background-color: var(--neutral);
  display: flex;
  margin: 20px;
  /* flex-grow: 2; */
  flex-direction: column;
  border-radius: 10px;
}

.Graphs-Container {
  display: flex;
  justify-content: center;
}

.PieChart {
  margin: 20px;
}

h4 {
  margin: 0px;
  background-color: var(--darkbase);
  border-radius: 7.5px;
  color: var(--lightneutral)
}

h3 {
  margin: 10px;
  color: var(--lightneutral);
  font-size: 1.5em;
}

.pie-chart-legend {
  display: flex;
  justify-content: space-evenly;
}
.legend-assignments {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.color-block-container-completed {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  background-color: var(--darkbase);
  margin-right: 5px;
  border-radius: 5px;
}

.color-block-container-remaining {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: auto;
  background-color: var(--lightbase);
  margin-right: 5px;
  border-radius: 5px;
}

.completed-hikes {
  margin: 10px;
}

.remaining-hikes {
  margin: 10px;
} 

.HikeDetails {
  background-color: var(--darkbase);
  margin: 20px;
  flex-grow: 1;
  border-radius: 10px;
}

.MountainCollection {
  display: flex;
  flex-direction: row;
  margin: 20px;
  color: black;
}

.Mountain {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.triangle {
  margin: 5px;

}

.App-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Avenir';
}

.Body-Container {
  display: flex;
  flex-direction: row;
}

.Data-Container {
  background-color: var(--lightbase);
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 90vh;
}

.button {
  width: 8vw;
  margin: 5px;
  text-align: center;
}



/* https://alvaromontoro.com/blog/67970/drawing-a-triangle-with-css */