/* Color Pallete */
:root {
  --lightbase: #606C38;
  --darkbase: #283618;
  --lightneutral: #FEFAE0;
  --neutral: #DDA15E;
  --darkneutral: #BC6C25;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Header {
  background-color: var(--darkbase);
  color: var(--lightneutral);
}

.ChallengeSelector {
  background-color: var(--lightbase);
  height: 50%;
}

.Selector-Container {
  margin: 20px;
  padding: 10px;
}

.Challenges-Container, .Mountain-Container {
  background-color: var(--darkneutral);
  color: white;
  border-radius: 10px;
}

.UserInputForm {
  background-color: var(--lightbase);
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 10px;
}

.UserInputDropDowns-Container {
  display: flex;
  flex-direction: column;
}

.Date-Container, .Buddies-Container, .Notes-Container, .Pics-Container {
  background-color: var(--neutral);
  margin: 10px;
  border-radius: 10px;
}

.GraphicalRepresentation {
  background-color: var(--lightneutral);
  color: white;
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: space-evenly;
}

.PieChartCollection {
  background-color: var(--neutral);
  display: flex;
  margin: 20px;
  flex-grow: 2;
  flex-direction: column;
  border-radius: 10px;
}

.Graphs-Container {
  display: flex;
}

.PieChart {
  background-color: var(--lightbase);
  margin: 20px;
}

.HikeDetails {
  background-color: var(--darkbase);
  margin: 20px;
  flex-grow: 1;
  border-radius: 10px;
}

.MountainCollection {
  display: flex;
  flex-direction: row;
  margin: 20px;
  flex-grow: 1;
}

.Mountain {
  background-color: maroon;
  margin: 20px;
}

.App-container {
  display: flex;
  flex-direction: column;
}

.Body-Container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.Data-Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 50vw;
}

.button {
  width: 8vw;
  margin: 5px;
  text-align: center;
}



/* https://alvaromontoro.com/blog/67970/drawing-a-triangle-with-css */